.show-bottom {
  animation: bottom 1s linear;
}

@keyframes bottom {
  from {
    margin-top: 200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.show-top {
  animation: top 2s linear;
  transition: all ease-in 500ms;
}

@keyframes top {
  from {
    margin-top: -200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.show-right {
  animation: right 3s linear;

  transition: all ease-in 500ms;
}

@keyframes right {
  from {
    margin-left: 200px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.show-left {
  animation: left 4s linear;

  transition: all ease-in 500ms;
}

@keyframes left {
  from {
    margin-right: 200px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}
